.contribute {
    width: 960px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    position: relative;
}
.content {
    width: 80%;
    height: 100%;
    display: block;
    position: relative;
    background-color: #262626
}