.background_4 {
    width: 1200px;
    height: 700px;
    display: block;
    position: relative;
    margin: 0 auto;
    color: white;
    text-align: center;
    line-height: 400px;
}
.left-menu {
    width: 240px;
    height: 545px;
    display: block;
    position: relative;
}
.right-box {
    width: 960px;
    display: block;
    height: 545px;
    margin-top: 85px;
    position: relative;
}