.background_2 {
    width: 100%;
    height: 56px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    display: flex;
    backdrop-filter: blur(10px);
    position: fixed;
    background: linear-gradient(200deg, rgba(1, 178, 254, 0.8) 0%, rgba(176, 113, 253, 0.8) 47%, rgba(35, 110, 255, 0.8) 100%);
    z-index: 2010;
}
.background-item {
    width: 1400px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    position: relative;
}
.item {
    width: 50%;
    height: 100%;
    justify-content: space-around;
    display: flex;
    position: relative;
}

.left-logo {
    width: 125px;
    cursor: pointer;
    height: 100%;
    display: block;
    position: relative;
    background-image: url("../../assets/img/logo_1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.menu-part {
    min-width: 575px;
    height: 100%;
    display: block;
    position: relative;
}
.el-menu-demo {
    height: 56px;
    border: none;
}


.money {
    width: 12.1%;
    height: 32px;
    padding: 0 8px;
    display: block;
    position: relative;
    border-radius: 16px;
    background-color: rgba(0,0,0,0.4);
    top: 20%;
    cursor: pointer;
}
.money:hover {
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.7);
    transition: 0.4s ease-in-out;
    background-color: rgba(31, 30, 30, 0.4);
}
.money_img {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    float: left;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.6);
    top: 20%;
    color: whitesmoke;
}
.money_img:hover {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4),inset 0 -1px 5px rgba(245,245,245,50);
    transition: 0.4s ease-in-out;
}
.money span {
    width: 30px;
    height: 20px;
    display: block;
    position: relative;
    padding-left: 8px;
    float: left;
    top: 20%;
    font-size: 14px;
    color: #f5db9d;
    font-weight: 700;
}
.web_info {
    min-width: 224px;
    height: 32px;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 0 16px;
    margin-left: 16px;
    border-radius: 16px;
    background-color: rgba(0,0,0,0.4);
    top: 20%;
    font-size: 14px;
    color: white;
    cursor: pointer;
}
.web_info span {
    height: 32px;
    display: block;
    position: relative;
    margin-right: 16px;
    top: 20%;
}
.web_info:hover {
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.7);
    transition: 0.4s ease-in-out;
}
.document_manage {
    width: 112px;
    height: 32px;
    justify-content: space-around;
    display: flex;
    position: relative;
    padding: 0 16px;
    border-radius: 16px;
    margin-left: 8px;
    background-color: rgba(0,0,0,0.4);
    top: 20%;
    cursor: pointer;
}
.document_manage:hover {
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.7);
    transition: 0.4s ease-in-out;
    background-color: rgba(31, 30, 30, 0.4);
}
.document_manage img {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    top: 20%;
}
.document_manage span {
    width: 56px;
    height: 32px;
    display: block;
    position: relative;
    line-height: 32px;
    font-size: 14px;
    color: #c9cdd4;
    font-weight: 400;
    margin-left: 2px;
}
.account {
    width: 112px;
    height: 32px;
    display: block;
    position: relative;
    padding: 0 16px;
    border-radius: 16px;
    margin-left: 8px;
    background: linear-gradient(135deg,#01b2fe 0%,#236eff 47%,#673efc 100%);
    top: 20%;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: white;
}
.account span {
    width: 56px;
    height: 32px;
    display: block;
    position: relative;
    line-height: 32px;
    font-size: 14px;
    color: white;
    font-weight: 400;
    margin: 0 auto;
}
.account:hover {
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.7);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.note {
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    position: relative;
    top: 30%;
}
.note img {
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
}
.login {
    height: 32px;
    display: block;
    position: relative;
    top: 20%;
    border-radius: 16px;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    outline: none;
    border: none;
}
.login:hover {
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.7);
    transition: 0.4s ease-in-out;
}
.tooltip-base-box {
    width: 600px;
}
.tooltip-base-box .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tooltip-base-box .center {
    justify-content: center;
}
.tooltip-base-box .box-item {
    width: 110px;
    margin-top: 10px;
}