.background {
    width: 100vw;
    height: 47vw;
    display: block;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #18181a;
    user-select: none;
    -webkit-user-select: none;
    position: relative;
}
.background::-webkit-scrollbar {
    display: none;
}
.drawerCon {
    width: 420px;
    height: 100%;
    display: block;
    padding: 10px;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: none;
}
.drawerCon::-webkit-scrollbar {
    display: none;
}
